.protection {
  margin-bottom: 160px;
}

.protection-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.protection-item {
  display: flex;
}

.protecting-top-item{
  padding-bottom: 200px;
}

.protection-top-wrap {
  width: 624px;
}
.protection-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  color: var( --main-light-text-color);
  margin: 0;
  padding-bottom: 16px;
}

.protection-desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: var(--main-light-text-color);
  margin: 0;
  padding-bottom: 40px;
}
.protection-link {
  text-decoration: none;
  color: #FF007A;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  border-radius: 32px;
  border: 1px solid #FF007A;
  padding: 16px 28px;
}

.protection-bottom-title-wrap {
  width: 554px;
}

.protecting-bottom-item{
  flex-direction: row-reverse;
}